<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon", type="image/x-icon", href="images/favicon.ico")
        title Zero's resume
        link(rel="stylesheet", href="css/all.css")
    body
        .wrapper
            .bg
            header.header
                .container
                    .navbar.navbar--collapse.u-clearfix
                        .social-bar.navbar__social-bar
                            a(href="").icon.icon-btn
                                i.icon-facebook-official
                            a(href="").icon.icon-btn
                                i.icon-dribbble
                            a(href="").icon.icon-btn
                                i.icon-behance
                        .nav.navbar__nav
                            a(href="#popup-overlay").menu-toggle
                                span
                                span
                                span
                            #popup-overlay.popup-menu
                                .container
                                    .u-clearfix
                                        a(href="").popup-menu__close
                                            span
                                            span
                                    ul
                                        li
                                            a.popup-menu__item(href="") ABOUT
                                        li
                                            a.popup-menu__item(href="") SKILL
                                        li
                                            a.popup-menu__item(href="") EXPERIENCE
                                        li
                                            a.popup-menu__item(href="") MY WORK
                                        li
                                            a.popup-menu__item(href="") CONTACT
            section.main
                .hero
                    .hero__bg
                    .container
                        .hero__content
                            h1.hero__heading HELLO
                                br
                                | I'M Zero
                            a.btn.btn--primary.btn--md Contact
                                
            footer