<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon", type="image/x-icon", href="images/favicon.ico")
        title Zero's resume
        link(rel="stylesheet", href="css/all.css")
    body
        .wrapper
            .bg
            header.header
                .container
                    .navbar.u-clearfix
                        .social-bar.navbar__social-bar
                            a(href="").icon.icon-btn
                                i.icon-facebook-official
                            a(href="").icon.icon-btn
                                i.icon-dribbble
                            a(href="").icon.icon-btn
                                i.icon-behance
                        .nav.navbar__nav
                            a(href="").menu-toggle
                                span
                                span
                                span
            section.main
                h1 123
            footer